.contact {
  margin-top: 5%;
  margin-left: 20%;
  width: 40%;
  color: white;
  font-family: "Whyte Trial", sans-serif;
  font-size: 5vw;
  line-height: 6vw;

}

@media (max-width: 890px) {

    .contact {
        margin-top: 5%;
        margin-left: 20%;
        width: 40%;
        color: white;
        font-family: "Whyte Trial", sans-serif;
        font-size: 10vw;
        line-height: 11vw;
      
      }
    
}
