body {
  background-color: black;
}

@font-face {
  font-family: "Whyte Plus Trial";
  src: url("../fonts/ABCWhytePlusVariable-Trial.ttf");
}

.home-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1%;
  margin-left: 6%;
}

.main-content {
  width: 70%;
  padding: 1rem;
  color: white;
}

.main-content p {
  font-family: "Whyte Plus Trial";
  font-style: normal;
  font-weight: 400;
  font-size: 2.5vw;
  line-height: 2.5vw;
  margin-bottom: 0;
}

.moreinfo {
  margin-top: 2%;
  font-size: 1.5vw  !important;
}

.inline-image {
  display: inline-block;
  width: 5%;
}

.inline-arrow {
  display: inline-block;
  width: 5%;
}

.inline-image img {
  max-width: 100%;
  height: auto;
}

.green-text {
  margin-left: 8%;
  width: 40%;
  padding: 1rem;
}

.green-text p {
  font-family: "Whyte Plus Trial", sans-serif;
  font-size: 2vw;
  line-height: 1.3;
  color: #31e95a;
  margin: 0;
}

a {
  color: #31e95a;
}

@media screen and (max-width: 767px) {
  .home-container {
    flex-direction: column;
  }

  .main-content,
  .green-text {
    width: 100%;
  }

  .home-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1%;
    margin-left: 5%;
  }

  .main-content {
    width: 90%;
    padding: 0.5rem;
    color: white;
  }

  .main-content p {
    font-size: 7vw;
    line-height: 7vw;
  }

  .moreinfo {
    font-size: 5vw !important;
  }

  .pal {
    font-family: "Whyte Trial";
    font-size: 6vw;
  }

  .inline-image {
    display: inline-block;
    width: 10%;
    margin-left: 2%;
  }

  .inline-arrow {
    display: inline-block;
    width: 4% !important;
  }

  .green-text {
    width: 80%;
  }

  .green-text p {
    font-family: "Whyte Plus Trial", sans-serif;
    font-size: 6vw;
    line-height: 6vw;
    color: #31e95a;
    margin: 0;
  }

  a {
    color: #31e95a;
  }
}
