* {
    box-sizing: border-box;
  }
  
  @font-face {
    font-family: "MyCustomFont";
    src: url("../fonts/schnee.ttf");
  }
  
  body {
    margin: 0;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(247, 247, 247);
    color: rgb(0, 0, 0);
    height: 40px;
    padding: 0 0px;
  }
  
  .nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
  }
  
  .nav li {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .nav ul li {
    margin-right: 1rem;
  }
  
  .nav ul li.cc0 {
    margin-left: auto;
    flex: 0 0 auto;
  }
  
  .nav a {
    font-family: "MyCustomFont", sans-serif;
    font-size: 1.7rem;
    text-decoration: none;
    color: rgb(6, 6, 6);
    text-decoration: none;
    font-weight: normal;
    padding: 10px 15px;
  }
  
  .nav a:hover {
    color: rgb(185, 185, 185);
  }